@import '../assets/styles/_settings-foundation.scss';
.homePage {
  margin-top: 4rem;

  .columnCenter {
    display: flex;
    justify-content: center;
  }

  .rowTable {
    .left {
      border-right: 1px solid $black;
    }

    .rowButtons {
      width: 100%;
      margin-top: 4rem;

      .columnButtons {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
