@import '../assets/styles/_settings-foundation.scss';

.homePage {
  margin-top: 1rem;

  .columnCenter {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    h1 {
      font-size: 2.2em;
    }
  }

  .rowTable {
    .columnScore {
      height: 75vh;
      position: relative;

      &.left {
        border-right: 1px solid $black;
      }

      .rowButtons {
        bottom: 0;
        margin-top: 4rem;
        position: absolute;
        width: 100%;

        @media screen and (max-width: $small-screen) {
          margin-top: 2.5rem;
        }

        .columnButtons {
          display: flex;
          justify-content: space-around;
          align-items: flex-end;

          .button {
            @media screen and (max-width: $small-screen) {
              font-size: .75em;
            }

            &.large {
              @media screen and (max-width: $small-screen) {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}
