.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

.selectSettings {
  margin-top: 5rem;

  label {
    font-size: 1.2em;
    margin-bottom: 1rem;
  }

  .selectScore {
    margin: 2rem 0;

    legend {
      font-size: 1.2em;
      margin-bottom: 1rem;
    }
  }
}
