@import '../assets/styles/_settings-foundation.scss';

.rowNames{
  h1 {
    @media screen and (max-width: $small-screen) {
      font-size: 2em;
    }
  }
  .badge {
    font-size: 1em;
    font-weight: bold;
    height: 2rem;
    margin-left: 1rem;

    @media screen and (max-width: $small-screen) {
      font-size: .9em;
      height: 1.5rem;
    }
  }
}
